body { font-family: Arial;
    sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 20px;
    
}

.container {
    width: 100%;
    max-width: 100%;
    background-color: rgb(153, 222, 243);
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0px opx 10px gray;
}

h1 {
    text-align: center;
    color: darkblue;
}

h2{
    text-align: center;
    color: darkblue
    ;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}


input,textarea {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 16px;
}

.gender {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}


button {
    margin-top: 20px;
    padding: 12px; 
    background-color: rgb(0, 30, 128);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover { 
    background-color: rgb(85, 150, 235);
}

.table-container { 
    overflow-x: auto;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(6, 0, 128);
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


@media (max-width: 768px) { 
    .container { width: 95%; } 
    .gender { flex-direction: column;
        gap: 10px; }
}


@media (max-width: 480px) {
    body { padding: 10px;
    }
    h1 { 
        font-size: 24px;
    } 
    input, textarea, button {
        font-size: 14px;
        }
}